<h2>list of heroes</h2>
<div>
  <label>hero name:</label>
  <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">add</button>
</div>
<div>
  <ul class="heroes">
    <li *ngFor="let hero of heroes | async; let i = index; let isOdd = odd"
        (click)="onSelect(hero)"
        [ngClass]="{ odd: isOdd }"
        [class.selected]="hero === selectedHero">
          <span>{{i + 1}} - {{hero.name}}</span>
          <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
    </li>
  </ul>
</div>
<div *ngIf="selectedHero">
  <p>{{selectedHero.name | uppercase}} is my hero</p>
  <button (click)="gotoDetail()">view details</button>
</div>
